/*** Load Cormorant Garamond Font Family ***/

/* Unitalicized */

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Regular.ttf') format('truetype');
  font-weight: normal; /* i.e. 400 */
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Bold.ttf') format('truetype');
  font-weight: bold; /* i.e. 700 */
  font-style: normal;
}

/* Italicized */

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-Italic.ttf') format('truetype');
  font-weight: normal; /* i.e. 400 */
  font-style: italic;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Garamond';
  src: url('../fonts/garamond/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: bold; /* i.e. 700 */
  font-style: italic;
}

/*** Load Montserrat Font Family ***/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

/*** General Selectors ***/

* {
  font-family: Montserrat, 'Trebuchet MS', Arial, sans-serif;
  color: hsl(195, 0%, 100%);
}

html {
  background-color: hsl(195, 0%, 15%);
}

h2 {
  font-size: 2.25rem;
}

p, li {
  line-height: 1.65;
}

p, li, blockquote, #coaching-packages {
  margin-top: 1.625rem;
}

blockquote, #coaching-packages {
  background-color: hsl(195, 10%, 12%);
  border: 1px solid hsl(195, 99%, 65%);
  box-shadow: 0 0 6px hsl(195, 99%, 65%);
  border-radius: 7px;
}

blockquote {
  font-family: Garamond, 'Times New Roman', serif;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5;
  padding: 2rem 1.5rem;
}

hr {
  border: 1px solid hsl(195, 0%, 30%);
  margin: 1.625rem 10% 0;
}

a {
  color: hsl(195, 99%, 65%);
}

a:hover {
  color: hsl(195, 0%, 100%);
}

a:active {
  color: rgb(254, 77, 92);
}

span {
  color: orange;
}

.underline {
  margin-top: 0.75rem;
  height: .25rem;
  width: 120px;
  border-radius: 2px;
  background-color: hsl(148, 100%, 35%);
}

/*** Header and Navigation Bar ***/

header { /* Container for website title and navigation. */
  background-color: hsl(195, 0%, 5%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1.5rem;
}

h1 {/* Website title (my name) in the website header. */
  font-family: Garamond, 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: 500;
  margin-right: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

header .image-container { /* Container for my headshot in the website header. */
  border-radius: 50%;
  border: .125rem solid hsl(195, 0%, 100%);
  width: 80px;
}

/* Navigation */

nav p, nav a {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  min-width: 100px;
  text-align: center;
  line-height: 1.0625rem;
}

nav a {
  color: hsl(195, 0%, 100%);
  font-size: 0.9375rem;
  transition: font-size 0.5s, color 0.5s;
}

nav a:hover, nav p {
  color: hsl(195, 99%, 65%);
  font-size: 1.0625rem;
}

nav a:active {
  color: rgb(254, 77, 92);
  transition: color 0s;
}

nav p { /* Current page. */
  cursor: default;
  line-height: 1;
}

/*** Main ***/

main, footer div {
  max-width: 700px;
  margin: auto;
}

main {
  padding: 5rem 0;
}

#coaching-packages {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1.5rem 1rem;
}

#coaching-packages>div {
  width: 20%;
  height: 150px;
  background-color: hsl(195, 0%, 70%);
  margin: 1rem;
}

/*** Footer ***/
footer {
  background-color: hsl(195, 0%, 8%);
  padding: 4rem 0;
}

footer p {
  margin-top: 0;
  color: hsl(195, 0%, 60%);
  font-size: .75rem;
  line-height: 1.8;
  max-width: 400px;
}
